button{
  //font: 400 13.3333px Arial;
  padding: 2px 8px;
  border-width: 0px;
  margin: 4px;
}

//Dark blue buttons
  .darkBlue{
    background-color: $darkBlue;
    color: $white;
  }
  .darkBlue:hover{
    background-color: $lightBlue;
    color: $white;
    
  }
  .darkBlue:active{
    text-decoration: underline;
  }
//Light blue buttons
  .lightBlue{
    background-color: $lightBlue;
    color: $white;
  }
  .lightBlue:hover{
    background-color: $white;
    color: $darkBlue;
    border: 1px solid $darkBlue;
  }
  .lihtBlue:active{
    text-decoration: underline;
  }
//Brown buttons
  .brown{
    background-color: $brown;
    color: $white;
  }
  .brown:hover{
    background-color: $beige;
    color: $white;
  }
  .brown:active{
    text-decoration: underline;
  }
//Beige buttons
  .beige{
    background-color: $beige;
    color: $white;
  }
  .beige:hover{
    background-color: $white;
    color: $brown;
    border: 1px solid $brown;
  }
  .beige:active{
    text-decoration: underline;
  }
