$darkBlue: #384899;
$lightBlue:#579ad4;
$grey: #777D99;
$brown: #cc5e39;
$beige: #ffc6a1;

$black: #000000;
$white: #ffffff;

.darkblue{
  display: flex;
  width: 6em;
  height: 2em;
  background-color: $darkBlue;
}

.lightblue{
  display: flex;
  width: 6em;
  height: 2em;
  background-color: $lightBlue;
}

.brown{
  width: 6em;
  height: 2em;
  background-color: $brown;
}

.beige{
  width: 6em;
  height: 2em;
  background-color: $beige;
}